@model ProductVM

@{
    ViewData["Title"] = "Product Upsert";
}

<form method="post" asp-action="Upsert"  enctype="multipart/form-data" >
    <input type="hidden" asp-for="Product.Id"/>
    <input type="hidden" asp-for="Product.ImageUrl"/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <div class="col-10">
                <h2 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Add") Product</h2>
            </div>
            <div class="col-2">
                <img src="@Model.Product.ImageUrl" width="100%" style="border-radius:5px;border: 1px solid #bbb9b9;" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="mb-3 col-6">
                <label asp-for="Product.Title"></label>
                <input type="text" asp-for="Product.Title" class="form-control" autocomplete="off" />
                <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>
            <div class="mb-3 col-12">
                <label asp-for="Product.Description"></label>
                <textarea type="text" asp-for="Product.Description" class="form-control" autocomplete="off"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.ISBN"></label>
                <input type="text" asp-for="Product.ISBN" class="form-control" autocomplete="off" />
                <span asp-validation-for="Product.ISBN" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.Author"></label>
                <input type="text" asp-for="Product.Author" class="form-control" autocomplete="off" />
                <span asp-validation-for="Product.Author" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.ListPrice"></label>
                <input type="text" asp-for="Product.ListPrice" class="form-control" autocomplete="off" />
                <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.Price"></label>
                <input type="text" asp-for="Product.Price" class="form-control" autocomplete="off" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.Price50"></label>
                <input type="text" asp-for="Product.Price50" class="form-control" autocomplete="off" />
                <span asp-validation-for="Product.Price50" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.Price100"></label>
                <input type="text" asp-for="Product.Price100" class="form-control" autocomplete="off" />
                <span asp-validation-for="Product.Price100" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.ImageUrl"></label>
                <input type="file" id="UploadBox" class="form-control" name="file" />
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.CategoryId"></label>
                <select type="text" asp-for="Product.CategoryId" asp-items="Model.CategoryList" class="form-control" autocomplete="off">
                    <option value="" disabled>Select Category</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Product.CoverTypeId"></label>
                <select type="text" asp-for="Product.CoverTypeId" asp-items="Model.CoverTypeList" class="form-control" autocomplete="off">
                    <option value="" disabled>Select Cover Type</option>
                </select>
                <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
            </div>
            <div class="m-3 col-12">
                <button type="submit" class="btn btn-primary mr-2" onclick='@(Model.Product.Id ==0 ? "return ValidateInput()":"")' >@(Model.Product.Id != 0 ? "Update" : "Add")</button>
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
    <script>
        function ValidateInput(){
            if(document.getElementById("UploadBox").value == ""){
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Please upload an Image!',
                });
                return false;
            }
            return true;
        }
        tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: true,
            plugins: 'advlist autolink lists link image charmap print preview anchor textcolor',
        });
    </script>
}