@model int

<div class="container row">
    <div class="col-12 txet-center">
        <h1 class="text-primary text-center">Payment Placed Successfully!</h1>
        Your Order Number is: @Model <br /><br />
    </div>
    <div class="col-12 text-center" style="color:maroon;">
        <br />
        Your Payment has been successfully placed!<br />
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model" class="btn bnt-primary">Back to Order Details</a>
    </div>
</div>